<td colspan="4">
	<a href="deploy-unit" data-bypass="1" class="deploy-unit-link">{{name}}</a>
</td>
<td>
	<button class="btn-hover btn-select {{#if allSelected}}selected{{/if}}">
		<i class="icon-white icon-ok"></i>
	</button>
</td>
<td colspan="3">
	{{#if showActions}}
		<span class="unit-mass-actions">
			{{#if enableDeploy}}
				<button class="btn-hover btn-deploy" data-loading-text="Deploying...">
					<i class="icon-white icon-upload"></i> Deploy
				</button>
			{{/if}}

			<button class="btn-hover btn-select-version">
				<icon class="icon-download-alt icon-white" />
				version
			</button>

			{{#each actions}}
				<button class="btn-hover btn-unit-action" data-action-name="{{this}}">
					<icon class="{{iconForUnitAction this}} icon-white" />
					{{this}}
				</button>
			{{/each}}
		</span>
	{{/if}}
</td>
