<div class="page-header-row action-banner">
	<div class="action-banner-header">
		Deploying
	</div>
	<div class="action-banner-content">
		<p>
			Tradera.NET
			13.30.100.2 (production)
		</p>
		<span class="action-banner-header">
			 in 3 seconds
		</span>
		<i class="icon-arrow-right icon-white" />
		<p>
			<a>Agents:</a>
			DUFFMAN, MILLHOUSE, SNAKE, ITCHY, SIDESHOW-BOB
		</p>
	</div>
	<div class="action-banner-footer">
		<button class="btn-hover btn-success"><i class="icon-ok icon-white" /></button>
		<button class="btn-hover btn-danger"><i class="icon-remove icon-white" /></button>
	</div>
</div>

<div class="page-header-row dashboard-header-row">
	<div class="page-title">
		<h1>Dashboard</h1>
	</div>

	<div class="page-controls">

		<label style="margin-right: 2px">Filter: </label>
		<input type="text" class="input-large search-query" value="{{filterText}}" />

		<button style="margin-left: 20px" class="btn btn-success btn-refresh" data-loading-text="Refreshing...">
			<i class="icon-white icon-refresh"></i>
			Refresh
		</button>
	</div>

	<div class="clearfix" />
</div>

<div class="page-content">

	<table class="table table-bordered table-striped full-width deploy-unit-list">

	</table>

</div>
