<td colspan="4">
	<a href="deploy-unit" data-bypass="1" class="deploy-unit-link">{{name}}</a>
</td>
<td>
	<button class="btn-hover btn-select {{#if allSelected}}selected{{/if}}">
		<i class="icon-white icon-ok"></i>
	</button>
</td>
<td colspan="3" style="width: 100%">
	{{#if showActions}}
		<button class="btn btn-danger btn-small btn-select-version" style="margin-right: 30px">
			<icon class="icon-download-alt icon-white" />
			Deploy
		</button>

		{{#each actions}}
			<button class="btn btn-primary btn-small btn-unit-action" data-action-name="{{this}}">
				<icon class="{{iconForUnitAction this}} icon-white" />
				{{this}}
			</button>
		{{/each}}

		{{#if showLoadBalancerToggle}}
			<span class="load-balancer-actions" style="margin-left: 30px">
				<button class="btn btn-danger btn-small btn-toggle-loadbalancer">
					<icon class="icon-share2" />
					Toggle
				</button>
			</span>
		{{/if}}
	{{/if}}
</td>
