.action-banner {
  padding-top: 18px;
  padding-bottom: 18px;
  overflow: hidden;
  display: none;
}

.action-banner-header {
  float: left;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  color: lighten(@purple, 15%);
  text-shadow: 1px 1px 7px lighten(@purple, 15%);
}

.action-banner-content-wrapper {
  float: left;
}

.action-banner-footer {
  float: right;
}

.action-banner-content {
  text-align: left;
  float: left;
  p {
    display: inline-block;
    margin: 0 10px;
  }
}

#main-region {
  -webkit-transition: all 0.2s;
}

.action-banner-active {

  #main-region {
    //-webkit-transform:translate(0px, 95px);
    //-webkit-transition: all 0.2s;
  }

  .dashboard-header-row {
    display: none;
  }

  .action-banner {
    display: block;
    opacity: 1;
    //top: 50px;
    //-webkit-transition: all 0.2s;
  }
}