.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 40px;
  padding-bottom: 160px;
  font-size: 14px;
  background: #111111;
}
.navbar-inverse .nav-collapse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav-collapse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav-collapse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #111;
}
.navbar-inverse .nav-collapse .nav > li > .dropdown-menu::before,
.navbar-inverse .nav-collapse .nav > li > .dropdown-menu::after {
  display: none;
}
.navbar .brand {
  position: relative;
  top: 2px;
  left: -5px;
  padding: 0;
  margin: 0;
  margin-right: 50px;
}
.navbar-fixed-top {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2);
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  background-color: inherit;
  color: #EDEDED;
  border-bottom: 3px solid #0792FF;
  padding-bottom: 2px;
}
.dropdown-menu {
  background-color: #191A1A;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.dropdown-menu li > a:hover {
  color: #ffffff;
  background: transparent;
}
.dropdown-menu li > a {
  color: #ADAFAE;
}
.well,
.hero-unit {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.well,
.hero-unit {
  border-top: solid 1px #353535;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.footer {
  margin-top: 45px;
  padding: 5px 0 36px;
  border-top: 1px solid #E5E5E5;
}
#instance-selection .dropdown-toggle {
  color: #0792ff;
  text-shadow: 1px 1px 7px #0792ff;
  font-weight: bold;
  padding: 13px 10px 11px;
  line-height: 1;
  margin: 0;
}
ul#instance-selection .caret {
  margin: 5px 0 0px 5px;
}
.unit-status-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #6da300;
  background-image: -moz-linear-gradient(top, #669900, #77b300);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#669900), to(#77b300));
  background-image: -webkit-linear-gradient(top, #669900, #77b300);
  background-image: -o-linear-gradient(top, #669900, #77b300);
  background-image: linear-gradient(to bottom, #669900, #77b300);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff669900', endColorstr='#ff77b300', GradientType=0);
  border-color: #77b300 #77b300 #446600;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #77b300;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.unit-status-success:hover,
.unit-status-success:active,
.unit-status-success.active,
.unit-status-success.disabled,
.unit-status-success[disabled] {
  color: #ffffff;
  background-color: #77b300;
  *background-color: #669900;
}
.unit-status-success:active,
.unit-status-success.active {
  background-color: #557f00 \9;
}
a {
  text-shadow: 1px 1px 7px #0792ff;
}
#asimov-version {
  position: fixed;
  right: 5px;
  bottom: 160px;
  color: #666666;
}
legend,
label {
  color: #999999;
  border-bottom: 0px solid #282828;
}
legend {
  margin: 0;
  border-bottom: 1px solid #282828;
}
input,
textarea,
select,
.uneditable-input {
  color: #282828;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly],
.uneditable-input {
  background-color: #555;
  border-color: #444;
}
input:focus,
textarea:focus,
input.focused,
textarea.focused {
  border-color: #52a8ec;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.form-actions {
  border-top: 1px solid #222;
  background: transparent;
}
.input-prepend .add-on {
  background-color: #272727;
  border: 1px solid #333;
  text-shadow: none;
  color: #BDBDBD;
}
#loadbalancer-settings {
  width: 430px;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 15px;
}
#loadbalancer-settings .host {
  margin-right: 20px;
}
#loadbalancer-settings .btn {
  float: right;
}
.modal {
  background-color: #111111;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-top: solid 2px #0792ff;
  border-bottom: solid 2px #0792ff;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
  width: 700px;
}
.modal-header {
  border-color: #252525;
}
.modal-header h3 {
  font-size: 18px;
}
.modal-footer {
  border-top: #252525;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-body {
  margin: 0;
  padding: 0;
}
.modal-backdrop {
  background-color: #282828;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.close {
  color: white;
  opacity: 0.6;
}
.table {
  margin-bottom: 0;
}
.table.full-width td:first-child,
.table.full-width th:first-child {
  padding-left: 25px;
}
.table td,
.table th,
.table thead th {
  vertical-align: middle;
  padding: 6px 10px 6px 10px;
}
.table-bordered {
  border: 0;
}
.table.deploy-unit-list td,
.table.deploy-unit-list th {
  white-space: nowrap;
  width: 1px;
}
.table.deploy-unit-list a.status-Deploying,
.table.deploy-unit-list a.status-DeployFailed,
.table.deploy-unit-list a.status-NotFound,
.table.deploy-unit-list a.status-Stopped {
  color: #b870db;
  text-shadow: 1px 1px 7px #b870db;
}
.verify-step {
  display: inline-block;
  width: 10px;
  height: 16px;
  line-height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 4px;
  vertical-align: middle;
}
.deploy-status-DeployFailed {
  color: #b870db;
  text-shadow: 1px 1px 7px #b870db;
}
.deploy-status-Success {
  color: #33b5e5;
  text-shadow: 1px 1px 7px #33b5e5;
}
.version-table tr td {
  cursor: pointer;
}
.version-table tbody tr:hover td {
  color: white;
}
.page-header-row {
  padding: 10px 30px 10px 25px;
  background: #111111;
}
.page-header-row .page-title {
  float: left;
}
.page-header-row .page-title h1 {
  font-size: 18pt;
  border: none;
  margin: 0;
}
.page-header-row .page-controls {
  float: right;
  margin-top: 8px;
}
.page-header-row .page-controls input,
.page-header-row .page-controls label,
.page-header-row .page-controls button {
  display: inline;
}
.page-content {
  border-top: 1px solid #444444;
  background: #121417;
  margin: 0;
  padding: 0;
  clear: both;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.page-content table {
  margin-bottom: 0;
}
#deploy-modal .modal-body {
  padding: 3px 3px 20px 3px;
  text-align: center;
}
.deploy-info-wrapper {
  width: 400px;
  margin: 10px auto 15px auto;
  text-align: left;
}
.deploy-info-wrapper h5 {
  text-align: center;
}
.deploy-info-wrapper .input-append,
.deploy-info-wrapper .input-prepend {
  text-align: center;
}
.deploy-info label {
  float: left;
  clear: both;
  display: inline-block;
  width: 200px;
  text-align: right;
  font-weight: bold;
  color: #33b5e5;
  margin: 0;
}
.deploy-info span {
  display: inline-block;
  width: 190px;
  text-align: left;
  margin: 0;
  padding-left: 10px;
}
.live-log-wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
}
.live-log-header {
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  margin-left: 0px;
  margin-bottom: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 0px 0px 0px 10px;
  border: 1px solid #252525;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}
.live-log-header span {
  padding-right: 10px;
}
.live-log-header label {
  display: inline;
  font-size: 12px;
  cursor: pointer;
}
.live-log-header label:hover {
  color: #eeeeee;
}
.live-log-header .btn-live-log-filter {
  opacity: 0.55;
  filter: alpha(opacity=55);
}
.live-log-header .btn-live-log-filter:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.live-log-header ul {
  margin: 0px 0px 0px 10px;
}
.live-log-header li {
  list-style: none;
  float: left;
  padding: 0px 5px 0px 5px;
}
.live-log-header li i {
  opacity: 0.55;
  filter: alpha(opacity=55);
}
.live-log-header li.show-filter-enabled label {
  color: #33b5e5;
  text-shadow: 1px 1px 7px #0792ff;
}
.live-log-header li:not(:first-child) {
  border-left: 1px solid #111111;
}
.live-log-header li:not(:last-child) {
  border-right: 1px solid #222222;
}
.live-log {
  color: #C6C6C6;
  background-color: #0e0e0e;
  margin: 0px;
  min-height: 150px;
  max-height: 478px;
  font-size: 12px;
  height: 98px;
  padding: 0px 5px 3px 10px;
  line-height: 16px;
  overflow: auto;
  border: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar:hover {
  height: 8px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}
::-webkit-scrollbar-button:horizontal:decrement {
  display: none;
}
::-webkit-scrollbar-button:horizontal:increment {
  display: none;
}
::-webkit-scrollbar-button:vertical:decrement {
  display: none;
}
::-webkit-scrollbar-button:vertical:increment {
  display: none;
}
::-webkit-scrollbar-button:horizontal:decrement:active {
  background-image: none;
}
::-webkit-scrollbar-button:horizontal:increment:active {
  background-image: none;
}
::-webkit-scrollbar-button:vertical:decrement:active {
  background-image: none;
}
::-webkit-scrollbar-button:vertical:increment:active {
  background-image: none;
}
::-webkit-scrollbar-track-piece {
  background-color: #151716;
}
::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3a3a3a), color-stop(100%, #222222));
  border: 1px solid #0d0d0d;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a3a3a), color-stop(100%, #222222));
  border: 1px solid #1f1f1f;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
}
.btn {
  line-height: 14px;
}
.loadbalancer-action {
  padding-right: 20px;
}
.btn-mega {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-loadbalancer {
  width: 25px;
  padding: 4px 4px 4px 3px;
}
.icon-share2,
.nav .active > a > .icon-share2 {
  background: url("../img/share.png") 0 0;
  width: 14px;
  height: 14px;
}
