
// DeployUnit Table
// --------------------------

.table.deploy-unit-list {
	td, th {
		white-space: nowrap;
		width: 1px;
	}

	a.status-Deploying, a.status-DeployFailed, a.status-NotFound, a.status-Stopped, a.status-Stopping, a.status-Starting {
		color: lighten(@purple, 15%);
		text-shadow: 1px 1px 7px lighten(@purple, 15%);
	}
  tr:hover .unit-actions {
    display: block;
  }
  tr:hover td {
    background-color: @bodyBackground;
  }
}

.btn-hover {
  text-shadow: none;
  color: #ADAFAE;
  display: inline-block;
  padding: 1px 8px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #212121;

  &:hover {
    color: white;
    background-color: #313131;
  }
}

.btn-deploy {

}


.unit-actions {
  list-style-type: none;
  margin: 0;
  float: right;
  height: 18px;

  li {
    display: block;
    float:left;
    margin-right: 4px;
    list-style-type: none;
  }
}

.verify-step {
    display: inline-block;
    width: 10px;
    height: 16px;
    line-height: 16px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    margin: 0 0 4px;
    vertical-align: middle;
}