
// DeployUnit Table
// --------------------------

.deploy-unit-list {
	td, th {
		white-space: nowrap;
		width: 1px;
	}

	a.status-Deploying, a.status-DeployFailed, a.status-NotFound, a.status-Stopped, a.status-Stopping, a.status-Starting {
		color: lighten(@purple, 15%);
		text-shadow: 1px 1px 7px lighten(@purple, 15%);
	}
  tr:hover .unit-actions {
    display: block;
  }
}

.btn-hover {
  text-shadow: none;
  color: #ADAFAE;
  display: inline-block;
  padding: 1px 8px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  text-transform:lowercase;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #212121;

  &:hover {
    color: white;
    background-color: #313131;
  }
}

.table.deploy-unit-list td.deploy-unit-instance-agent-name {
  padding-left: 40px;
}

.deploy-unit-instance {
  td {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.deploy-unit-collapsed {
  .deploy-unit-instance {
    display:none;
  }
}

.unit-actions-wrapper {
  float: right;
  height: 18px;

  &:hover .unit-actions {
    visibility: visible;
  }
}

.unit-actions {
  list-style-type: none;
  margin: 0;

  li {
    display: block;
    float:left;
    margin-right: 4px;
    list-style-type: none;
  }
}

.btn-select {
  padding: 1px 4px;

  i {
    opacity: 0.1;
  }

  &.selected {
    i {
      opacity: 1;
    }

    .buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
  }
}

.deploy-unit-row td {
  border-left: none;
  border-top: 4px solid black;
}

.verify-step {
    display: inline-block;
    width: 10px;
    height: 16px;
    line-height: 16px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    margin: 0 0 4px;
    vertical-align: middle;
}

.action-banner {
  width: 400px;
  text-align: center;
  p {
    margin: 2px 0;
  }
  position: absolute;
  z-index: 500;
  left: 50%;
  margin-left: -200px;
  top: -50px;
  -webkit-transition: all 0.2s;
}

.action-banner-header {
  background-color: #212121;
  padding: 2px 10px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  display: inline-block;
  color: lighten(@purple, 15%);
  text-shadow: 1px 1px 7px lighten(@purple, 15%);
  .box-shadow(2px 0px 0px rgba(0, 0, 0, .8));
  border: 1px solid #303030;
  border-bottom: none;
  position: relative;
  top: 1px;
}

.action-banner-content-wrapper {
  border-radius:4px;
  border: 1px solid #303030;
  background-color: #212121;
  padding: 7px;
  .box-shadow(2px 2px 4px rgba(0, 0, 0, .8));
  overflow: hidden;
}

.action-banner-footer {
  width: 30px;
  float: right;
}

.action-banner-content {
  text-align: left;
  float: left;
  .icon-arrow-right {
    margin: 0px 10px;
  }
  a {
    display: inline-block;
    width: 55px;
  }
}

#main-region {
  -webkit-transition: all 0.2s;
}

.action-banner-active {

  #main-region {
    -webkit-transform:translate(0px, 95px);
    -webkit-transition: all 0.2s;
  }

  .action-banner {
    top: 50px;
    -webkit-transition: all 0.2s;
  }
}