// TABLES
// ---------------


.table {
	margin-bottom: 0;
	&.full-width {
		td:first-child, th:first-child {
			padding-left: 15px;
		}
	}

	td, th, thead th {
		vertical-align: middle;
		padding: 6px 10px 6px 10px;
	}
}

.table-bordered {
	border: 0;
}

// Deploy Log
// --------------------------

.deploy-status-DeployFailed {
	color: lighten(@purple, 15%);
   text-shadow: 1px 1px 7px lighten(@purple, 15%);
}

.deploy-status-Success {
	color: @blue;
   text-shadow: 1px 1px 7px @blue;
}


// Version Table
// -------------
.version-table {
	tr td {
		cursor: pointer;
	}
	tbody tr:hover td {
		color: white;
	}
}