<div class="page-header-row">
    <div class="page-title">
        <h1>Load balancer</h1>
    </div>

    <div class="page-controls">
       <button class="btn btn-danger btn-change">
            <i class="glyphicon glyphicon-white glyphicon-upload"></i>
            Change
        </button>
        <button class="btn btn-success btn-refresh" data-loading-text="Refreshing..." style="margin-left: 20px;">
            <i class="glyphicon glyphicon-white glyphicon-refresh"></i>
            Refresh list
        </button>
    </div>

    <div class="clearfix" />
</div>

<div class="page-content">

  <table class="table table-bordered table-striped full-width" id="hosts">
        <thead>
            <tr>
                <th style="width: 150px;">Agent</th>
                <th style="width: 150px;">Server Id</th>
                <th style="width: 70px;">Connections</th>
                <th style="width: 25px; text-align: center">State</th>
                <th >Action</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>

</div>
