doctype 5
html(lang="en")
	head
		title Asimov Deploy

		link(rel='icon', href='/img/logo.png', type='image/png')

		link(type='text/css', href='/css/bootstrap.css', rel='stylesheet')
		link(type='text/css', href='/css/asimov.css', rel='stylesheet')

		script(data-main='/app/config', src='/libs/require.js')

	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-header
				.container
					a.navbar-brand(href='#')
						img(src='/img/full_logo.png')
					.nav-collapse
						ul.nav.navbar-nav
							li
								a(href='dashboard') Dashboard
							li.divider-vertical
							li
								a(href='loadbalancer') Load Balancer
							li.divider-vertical
							li
								a(href='agents') Agents

						ul.nav.navbar-nav.pull-right
							li#current-user
							li.divider-vertical
							li.dropdown#instance-selection

		#main-region

		.live-log-wrapper
			.live-log-header
				span.pull-left Live Log
				a.pull-left.btn-live-log-filter(href="#", title="show/hide filters", data-bypass=1)
					i.icon-filter.icon-white
				ul.live-log-filter-selection.pull-left(style='display: none')
				#asimov-version.pull-right
					| v#{version}
				.clearfix
			.live-log

		.modal.hide#asimov-modal

		input(type="hidden", id="init-data", value="#{JSON.stringify(initData)}")