//Colors
@yellow:    #ECBB13;
@white:     #fff;
@blueDark:  #0792FF;
@green:     #669900;
@purple:    #9933CC;
@blue:      #33B5E5;
@red:       #BD362F;

//Background colors
@pageContentBackground:             #121417;
@btnChangingBackground:             lighten(@yellow, 15%);
@btnChangingBackgroundHighlight:    @yellow;
@bodyBackground:                    #111111;
@navbarBackgroundHighlight:         #ffffff;
@navbarInverseBackgroundHighlight:  #222222;
@btnSuccessBackgroundHighlight:     lighten(@green, 5%);
@btnPrimaryBackgroundHighlight:     darken(@blueDark, 10%);

