
<div class="page-header-row">
    <div class="page-title">
        <h1>Agents</h1>
    </div>

    <div class="page-controls">
    </div>

    <div class="clearfix" />
</div>

<div class="page-content">

    <table class="table table-bordered table-striped full-width">
        <thead>
            <tr>
                <th style="width: 150px;">Name</th>
                <th style="width: 80px;">Version</th>
                <th style="width: 120px;">Config Version</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>

</div>
