
{{#if user}}

	<img src="http://www.gravatar.com/avatar/{{user.emailHash}}?d=mm" width="25px" />

	<a href="#" data-toggle="dropdown" class="dropdown-toggle">
		{{user.name}}
	</a>
	<ul class="dropdown-menu">
		<li><a href="/logout">Logout</a></li>
	</ul>
{{/if}}