
{{#if user}}
	<a href="#" data-toggle="dropdown" class="dropdown-toggle">
		<i class="icon icon-user icon-white" />
		{{user}}
	</a>
	<ul class="dropdown-menu">
		<li><a href="/logout">Logout</a></li>
	</ul>
{{/if}}