
{{#if user}}
	<a href="#" data-toggle="dropdown" class="dropdown-toggle">
		<i class="glyphicon-user glyphicon-white" />
		{{user.name}}
	</a>

	<ul class="dropdown-menu">
		<li><a href="/logout">Logout</a></li>
	</ul>
{{else}}
	<a href="login">
		<i class="glyphicon-user glyphicon-white" />
		Login
	</a>
{{/if}}
