
<div class="container" style="padding-top: 100px;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			{{#if error}}
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<i class="glyphicon glyphicon-exclamation-sign glyphicon-white" />
					<span>{{error}}</span>
				</div>
			{{/if}}

			{{#if authUsingLocal}}

				<div class="login-option well">
					<label>Asimov deploy user</label>
					<form class="local-login-form">
						<input type="text" class="username input-medium" id="input-small" placeholder="Username" />
						<input type="password" class="password input-medium" id="password" placeholder="Password" />
						<button class="btn btn-info btn-login pull-right" type="submit">
							<i class="glyphicon glyphicon-user glyphicon-white" />
							Login
						</button>
					</form>
				</div>
			{{/if}}

			{{#if authUsingGoogle}}
				<div class="login-option well">
					<label style="display: inline-block">Google Account</label>

					<a href="/auth/google" class="btn btn-info pull-right" data-bypass="1">
						<i class="glyphicon glyphicon-user glyphicon-white" />
						Login
					</a>
				</div>
			{{/if}}
		</div>
	</div>
</div>



