<div class="action-banner-header">
		Deploying
	</div>
	<div class="action-banner-content">
		<p>
			Tradera.NET
			13.30.100.2 (production)
		</p>
		<span class="action-banner-header">
			 in 3 seconds
		</span>
		<i class="glyphicon glyphicon-arrow-right glyphicon-white" />
		<p>
			<a>Agents:</a>
			DUFFMAN, MILLHOUSE, SNAKE, ITCHY, SIDESHOW-BOB
		</p>
	</div>
	<div class="action-banner-footer">
		<button class="btn-hover btn-success"><i class="glyphicon glyphicon-ok glyphicon-white" /></button>
		<button class="btn-hover btn-danger"><i class="glyphicon glyphicon-remove glyphicon-white" /></button>
	</div>
</div>