
  <div class="modal-header">
    <button type="button" class="close btn-close">×</button>
    <h3 style="display:inline">Deploy Log : </h3>
    {{unitName}} on {{agentName}}
  </div>
  <div class="modal-body">
    <table class="table version-table table-striped table-bordered version-table">
      <thead>
        <tr>
          <th style="width: 100px">Deploy date</th>
          <th style="width: 80px">By user</th>
          <th style="width: 80px">Version</th>
          <th style="width: 80px">Branch</th>
          <th style="width: 80px">Commit</th>
          <th style="width: 80px">Status</th>
        </tr>
      <thead>

      <tbody>
      </tbody>

    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-close btn-primary">Close</button>
  </div>
