<td colspan="4">
	<a href="deploy-unit" data-bypass="1" class="deploy-unit-link">{{name}}</a>
</td>
<td>
	<button class="btn-hover btn-select {{#if allSelected}}selected{{/if}}">
		<i class="glyphicon glyphicon-white glyphicon-ok"></i>
	</button>
</td>
<td colspan="3" style="width: 100%">
	{{#if showActions}}
		<button class="btn btn-info btn-select-version" style="margin-right: 30px">
			<icon class="glyphicon glyphicon-download-alt glyphicon-white" />
			Deploy
		</button>

		{{#each actions}}
			<button class="btn btn-info btn-unit-action" data-action-name="{{this}}">
				<icon class="glyphicon glyph{{iconForUnitAction this}} glyphicon-white" />
				{{this}}
			</button>
		{{/each}}

		{{#if showLoadBalancerToggle}}
			<span class="load-balancer-actions" style="margin-left: 30px">
				<button class="btn btn-info btn-toggle-loadbalancer">
					<icon class="glyphicon icon-share2" />
					<span style="padding-left: 3px">Toggle</span>
				</button>
			</span>
		{{/if}}
	{{/if}}
</td>
