<div class="page-header-row dashboard-header-row">
	<div class="page-title">
		<h1>Dashboard</h1>
	</div>

	<div class="page-commands">
		{{#if deployAnnotationsEnabled}}
			{{#if hasActiveDeploy}}
			<button class="btn btn-danger btn-cancel-deploy" data-loading-text="Cancelling...">
				<i class="icon-white icon-stop"></i>
				Cancel deploy
			</button>
			<button class="btn btn-success btn-finish-deploy" data-loading-text="Finishing...">
				<i class="icon-white icon-stop"></i>
				Finish deploy
			</button>
			{{else}}
			<button class="btn btn-primary btn-start-deploy" data-loading-text="Starting...">
				<i class="icon-white icon-play"></i>
				Init deploy
			</button>
			{{/if}}
		{{/if}}

		{{#if autopilot.enabled}}
			{{#if autopilot.started}}

			{{else}}
			<button class="btn btn-primary btn-configure-autopilot">
				<i class="icon-white icon-plane"></i>
				Automatic deploy
			</button>
			{{/if}}
		{{/if}}
	</div>

	<div class="page-controls">
		<select class="js-example-basic-single" multiple="multiple" style="width: 500px">
		</select>
		<label style="margin-right: 2px; display: none;">Filter: </label>
		<input type="text" class="input-large search-query" value="{{filterText}}" style="display: none;" />

		<button style="margin-left: 10px;" class="btn btn-success btn-refresh" data-loading-text="Refreshing...">
			<i class="icon-white icon-refresh"></i>
			Refresh
		</button>
	</div>

	<div class="clearfix" />
</div>

<div class="page-content">

	<table class="table table-bordered table-striped full-width deploy-unit-list">

	</table>

</div>
