<div class="page-header-row dashboard-header-row">
	<div class="page-title">
		<h1>Dashboard</h1>
	</div>

	<div class="page-controls">

		<label style="margin-right: 2px">Filter: </label>
		<input type="text" class="input-large search-query" value="{{filterText}}" />

		<button style="margin-left: 20px" class="btn btn-success btn-refresh" data-loading-text="Refreshing...">
			<i class="glyphicon glyphicon-white glyphicon-refresh"></i>
			Refresh
		</button>
	</div>

	<div class="clearfix" />
</div>

<div class="page-content">

	<table class="table table-bordered table-striped full-width deploy-unit-list">

	</table>

</div>
