<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close btn-close">×</button>
      <h3>Select version</h3>
    </div>
    <div class="modal-body">
      <table class="table version-table table-striped table-bordered version-table">
        <thead>
          <tr>
            <th>Build date</th>
            <th>version</th>
            <th>branch</th>
            <th>commit</th>
          </tr>
        <thead>

        <tbody>
        </tbody>

      </table>
      <ul>

      </ul>
    </div>
    <div class="modal-footer">
      <button  class="btn btn-close btn-primary">Close</button>
    </div>
  </div>
</div>