

// Live Log
// ------

.agent-log-wrapper {
	position: fixed;
	width: 100%;
	bottom: 0;
	margin: 0;
 }

 .live-log-header {
  	font-weight: bold;
 	font-size: 12px;
 	line-height: 21px;
 	margin-left: 0px;
 	margin-bottom: 2px;
 	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2);
 	padding: 0px 0px 0px 10px;
	border: 1px solid @navbarInverseBorder;
	#gradient > .vertical(@navbarInverseBackgroundHighlight, @navbarInverseBackground);

	span {
		padding-right: 10px;
	}

	label {
		display: inline;
		font-size: 12px;
		cursor: pointer;
	}

	label:hover {
		color: @grayLighter;
	}

	.divider-vertical {
		border-left: 1px solid @navbarInverseBackground;
  		border-right: 1px solid @navbarInverseBackgroundHighlight;
  		height: 21px;
  		margin: 0 7px;
	}

	.btn-live-log-filter {
		.opacity(55);
	}

	.btn-live-log-filter:hover {
		.opacity(100);
	}

	ul {
		margin: 0px 0px 0px 10px;
	}

	li {
		list-style: none;
		float: left;
	}
 }

.agent-log {
	color: #C6C6C6;
	background-color: darken(@bodyBackground, 1%);
	margin: 0px;
	min-height: 150px;
	max-height: 478px;
	font-size: 12px;
	height: 98px;
	padding: 0px 5px 5px 10px;
	overflow: auto;
	border: none;
}